body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
}

#schedule-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #1e1e1e;
  color: #ffffff;
}

th, td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333333;
}
.current-day{
  background-color: rgba(0, 66, 172, 0.252);
}
.current-lesson{
  background-color:  rgba(0, 66, 172, 0.741);
}
.hidePair {
  color: rgba(255, 255, 255, 0.1); /* Майже невидимий текст */
  /* font-size: 1px; Дуже маленький текст */
  padding: 2px; /* Мінімальний відступ */
  line-height: 1px; /* Зменшена висота рядка */
  /* height: 1px; Мінімальна висота */
  overflow: hidden; /* Ховає зайвий вміст */
}

@media screen and (max-width: 768px) {
  
  table {
    width: 100%;
    table-layout: fixed; /* Фіксований розподіл ширини */
  }

  th, td {
    font-size: 14px; /* Зменшений розмір тексту */
    padding: 8px;
    word-wrap: break-word; /* Автоматичний перенос довгого тексту */
  }

  th:nth-child(1), th:nth-child(2){
    width: 5%;
  }
  th:nth-child(4){
    width: 10%;
  }
  th:nth-child(5){
    width: 18%;
  }
  th:nth-child(6){
    width: 2%;
  }
  .hidePair {
    color: rgba(255, 255, 255, 0.1); /* Майже невидимий текст */
    font-size: 1px; /* Дуже маленький текст */
    padding: 2px; /* Мінімальний відступ */
    line-height: 1px; /* Зменшена висота рядка */
    /* height: 1px; Мінімальна висота */
    overflow: hidden; /* Ховає зайвий вміст */
  }
}